@font-face {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 400;

    src: url("/fonts/Geometria.woff") format("woff");
}
@font-face {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 600;

    src: url("/fonts/Geometria-Bold.woff") format("woff");
}

body {
    font-family: "Geometria", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}
.text-section {
    padding: 40px;
}
/* mobile burger items  */
.menu-button {
    width: 40px;
    height: 30px;
    position: relative;
    display: none;
    z-index: 20;
    transition: .5s;
}
.menu-button:hover {
  box-shadow: 0 0 10px 2px rgba(255, 94, 94, 0.524);
}
.menu-button.menu-button--active {
  visibility: hidden;
  opacity: 0;
  user-select: none;
}
.inner-button {
  position: absolute;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
}

.menu-button__line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transition: .5s;
}
.menu-button:before,
.menu-button:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000000;
    position: absolute;
    left: 0;
    transition: 0.3s .6s;
}
.menu-button:before {
    top: 0;
}
.menu-button:after {
    bottom: 0;
}
.menu-button--active .menu-button__line {
    margin-top: 50px;
    opacity: 0;
}
.menu-button--active::before {
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
}
.menu-button--active::after {
    transform: rotate(-45deg) translateY(50%);
    bottom: 50%;
}

.burger-menu {
    padding-top: 90px;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 15;
    background-color: gray;
    transition: 1s;
}
.burger-menu.burger-menu--active {
    right: 0;
}
.burger-menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    z-index: 11;
}
.burger-menu__item {
    padding: 20px 50px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 1px solid #9e2019;
    transition: color .3s;
}
.burger-menu__item:hover, 
.burger-menu__item:active {
  color: #9b1800;
}
.burger-menu__item:first-child {
    border-top: 1px solid #9e2019;
}
.burger-menu__item:last-child {
  border: none;
}
.burger-menu__active {
    right: 0;
    transition: 0.5s;
}
.burger-menu__bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.burger-menu__bg.bg-lock {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
}

/* -------------------- */

/* -------------header */
.header {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 2fr 1fr 2.5fr 0.5fr;
    grid-template-areas: " empty logo nav search";
    align-items: center;
    justify-items: start;
    padding: 20px 0;
    text-transform: uppercase;
}
.header__logo-wrapper {
    grid-area: logo;
    justify-self: flex-start;
}

.logo {
    font-weight: 600;
    color: #da362d;
    font-size: 26px;
    transition: colro 0.3s;
    cursor: pointer;
    user-select: none;
}
.logo:hover {
    color: #9e2019;
}
.header__nav {
    grid-area: nav;
}

.header__nav ul {
    display: flex;
    gap: 10px;
}
.header__nav a {
    transition: color 0.3s;
    padding: 15px;
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
}
.header__nav a:nth-child(1) {
    padding-left: 0;
}
.header__nav a:hover {
    color: #da362d;
    transform: translateY(-3px);
}
.header__nav a:active {
    color: #9e2019;
    text-shadow: 1px 2px 2px rgba(132, 1, 1, 0.687);
}
.header__nav a::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    opacity: 0;
    width: 80%;
    height: 10px;
    background-color: #da362d;
    transition: opacity 0.3s, background-color 0.3s;
}
.header__nav a:hover::after {
    opacity: 1;
}
.header__nav a:active::after {
    background-color: #9e2019;
}

.search {
    grid-area: search;
    transition: 0.3s;
}
.search:hover svg {
    fill: #da362d;
}
.search:active svg {
    fill: #9e2019;
}

/* ---------------main */
.main {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
    grid-template-rows: 3fr 1fr 3fr;
    grid-template-areas:
        "slider-arrows about red section-hover"
        "slider-arrows about slider-dots section-hover"
        "green about slider-dots blue";
}

/* --------------- slider-arrows */
.slider-arrows {
    grid-area: slider-arrows;
    position: relative;
}
.slider-arrows__items-wrapper {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    display: flex;
}
.slider-arrows__item {
 max-height: 595px;
 width: 100%; 
}
.slider-arrows__nav {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.slider-arrows__arrow {
    color: #ffffff;
    font-size: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all 0.3s;
}
.btn {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
    padding: 10px 15px;
    transition: all 0.3s;
}
.slider-arrows__arrow:hover,
.btn:hover {
    color: #9e2019;
    border: 2px solid #9e2019;
}
.slider-arrows__arrow:active,
.btn:active {
    opacity: 0.7;
}
/* ----------------about */
.about {
    grid-area: about;
    background-color: rgb(245, 220, 78);
}

/* -------- green description */
.green-description {
    grid-area: green;
    background-color: rgb(124, 191, 23);
}
.green-description__title,
.red-description__title,
.blue-description__title,
.about h2 {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}
.green-description p,
.red-description p,
.blue-description p,
.about p {
    font-size: 18px;
}

/* ------------------ red description */
.red-description {
    grid-area: red;
    background-color: #9b1800;
    color: #ffffff;
}

/* --------- blue description */
.blue-description {
    grid-area: blue;
    background-color: blue;
    color: #ffffff;
}

/* -------slider-dots */

.slider-dots {
    grid-area: slider-dots;
    position: relative;
}

.slider-dots__btn-wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-dots__items-wrapper {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    display: flex;
}
.slider-dots__nav {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.slider-dots__nav-item {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.slider-dots__nav-item:hover {
    background-color: #9e2019;
    border: 2px solid #9e2019;
}
.slider-dots__nav-item:active {
    opacity: 0.8;
}
.slider-dots__nav-item--active {
    background-color: transparent;
    border: 1px solid #ffffff;
}

/* ----------section - hover */
.section-hover {
    grid-area: section-hover;
}

.hover-menu {
    position: relative;
    overflow: hidden;
    min-width: 340px;
    max-width: 480px;
    max-height: 595px;
    width: 100%;
    background: #000;
    text-align: center;
    box-sizing: border-box;
}

.hover-menu * {
    box-sizing: border-box;
}

.hover-menu img {
    position: relative;
    max-width: 100%;
    min-height: 613px;
    top: 0;
    right: 0;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.hover-menu div {
    position: absolute;
    top: 0;
    left: -120px;
    width: 120px;
    height: 100%;
    padding: 8px 4px;
    background: #000;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hover-menu div a {
    display: block;
    line-height: 2;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.hover-menu div a:hover {
    color: #9e2019;
}

.hover-menu:hover img {
    opacity: 0.5;
    right: -120px;
}

.hover-menu:hover div {
    left: 0;
    opacity: 1;
}

/* -----------------footer */

.footer {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
    grid-template-areas: "social form form aside";
    align-items: center;
    justify-items: start;
    text-transform: uppercase;
    background-color: rgb(77, 77, 77);
}
.social__list {
    display: flex;
    gap: 20px;
}
.social__list a {
    position: relative;
}

.social__list a::before {
    content: "";
    width: 46px;
    height: 46px;
    top: 16px;
    left: 16px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000000;
    opacity: 0;
    transition: 0.3s;
}
.social__list a:hover::before {
    opacity: 1;
}
.form {
    grid-area: form;
    display: flex;
    flex-direction: column;
}
.form label {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 15px;
    font-family: inherit;
    font-weight: 600;
    user-select: none;
}
.form__wrapper {
    display: flex;
    align-items: center;
}

.form input {
    padding: 10px;
    background-color: #c4c4c4;
}
.form input:focus {
    background-color: #ffffff;
}
.form button {
    padding: 7px 14px;
    font-size: 20px;
    color: #ffffff;
    background-color: blue;
    user-select: none;
    text-transform: uppercase;
}
.form button:hover {
    background-color: rgba(2, 2, 253, 0.637);
}
.form button:active {
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, -48px -50px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: inset 4px 4px 15px 0px #000000, -48px -50px 15px 5px rgba(0, 0, 0, 0);
}

.aside {
    background-color: cyan;
}
.aside__text-wrapper {
    max-height: 170px;
    overflow: hidden;
}
.aside__item {
    padding: 20px;
    transition: 1s;
}
.aside__item h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

/*================== Adaptive ========================*/
/* ================================================== */
@media screen and (max-width: 1520px) {
    .header {
        display: grid;
        grid-template-rows: max-content;
        grid-template-columns: 2fr 0.5fr 2.5fr 0.5fr;
        grid-template-areas: "logo empty nav search";
    }
    .main {
        display: grid;
        grid-template-columns: 2fr 1fr 1.5fr;
        grid-template-rows: 3fr 1fr 3fr 3fr;
        grid-template-areas:
            "slider-arrows about red"
            "slider-arrows about slider-dots"
            "green about slider-dots"
            "section-hover blue blue";
    }
    .slider-arrows__item {
      max-height: 100%;
    }
    .hover-menu {
        max-width: 100%;
        max-height: 42vw;
    }
    .header__logo-wrapper {
        justify-self: center;
    }
    .aside {
        display: none;
    }
}
@media screen and (max-width: 1030px) {
    .text-section {
        padding: 20px;
    }
    .green-description__title,
    .red-description__title,
    .blue-description__title,
    .about h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .green-description p,
    .red-description p,
    .blue-description p,
    .about p {
        font-size: 16px;
    }
    .footer {
        padding: 15px 0;
    }
}
@media screen and (max-width: 860px) {
    .header__nav ul {
        gap: 0;
    }
    .green-description__title,
    .red-description__title,
    .blue-description__title,
    .about h2 {
        font-size: 20px;
    }
    .green-description p,
    .red-description p,
    .blue-description p,
    .about p {
        font-size: 13px;
    }
    .footer {
        grid-template-columns: 2fr 1fr 1.5fr;
        grid-template-areas: "social form form";
    }
}
@media screen and (max-width: 726px) {
    .header {
        grid-template-columns: 2fr 2fr 100px;
        grid-template-areas: "logo nav search";
    }
    .header__nav a {
        padding: 10px;
    }
    .search {
        margin: 0 auto;
    }
    .main {
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 3fr 3fr 3fr 3fr 2fr;
        grid-template-areas:
            "slider-arrows about"
            "green about"
            "red slider-dots"
            "section-hover slider-dots"
            "blue blue";
    }
    .slider-arrows {
      max-height: 310px;
    }
}

@media screen and (max-width: 660px) {
    .header__nav {
        display: none;
    }
    .menu-button {
        display: block;
        align-self: center;
        justify-self: flex-end;
    }
    .main {
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 3fr 1.5fr 1fr 3fr 1.5fr;
        grid-template-areas:
            "slider-arrows about"
            "green about"
            "red red"
            "section-hover slider-dots"
            "blue blue";
    }
    .hover-menu {
        max-height: 100%;
    }
    .form label {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .form__wrapper {
        flex-direction: column;
        align-items: flex-end;
    }
    .slider-arrows {
      max-height: 100%;
    }
}

@media screen and (max-width: 530px) {
    .header {
        grid-template-columns: 2fr 0.5fr 0.5fr;
        grid-template-areas: "logo nav search";
    }
    .main {
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 1.5fr 0.5fr 1.5fr 1.5fr 0.5fr;
        grid-template-areas:
            "slider-arrows slider-arrows"
            "green about"
            "red red"
            "section-hover section-hover"
            "slider-dots slider-dots"
            "blue blue";
    }
    .footer {
        grid-template-columns: 2fr 2fr;
        grid-template-areas: "social form";
    }
}
@media screen and (max-width: 460px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "social"
            "form";
        justify-items: center;
    }
    .form label {
        text-align: center;
    }
    .form__wrapper {
        flex-direction: row;
    }
}
