@font-face {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 400;

    src: url("/fonts/Geometria.woff") format("woff");
}
@font-face {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 600;

    src: url("/fonts/Geometria-Bold.woff") format("woff");
}

body {
    font-family: "Geometria", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}
.text-section {
    padding: 40px;
}

/* -------------header */
.header {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 2fr 1fr 2.5fr 0.5fr;
    grid-template-areas: " empty logo nav search";
    align-items: center;
    justify-items: start;
    padding: 20px 0;
    text-transform: uppercase;
}
.header__logo-wrapper {
    grid-area: logo;
    justify-self: flex-start;
}
.header__logo-wrapper:hover {
}
.logo {
    font-weight: 600;
    color: #da362d;
    font-size: 26px;
    transition: colro 0.3s;
    cursor: pointer;
    user-select: none;
}
.logo:hover {
    color: #9e2019;
}
.header__nav {
    grid-area: nav;
}

.header__nav ul {
    display: flex;
    gap: 10px;
}
.header__nav a {
    transition: color 0.3s;
    padding: 15px;
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
}
.header__nav a:nth-child(1) {
    padding-left: 0;
}
.header__nav a:hover {
    color: #da362d;
    transform: translateY(-3px);
}
.header__nav a:active {
    color: #9e2019;
}
.header__nav a::after {
    position: absolute;
    left: 15px;
    bottom: 0;
    content: "";
    opacity: 0;
    width: 100%;
    height: 10px;
    background-color: #da362d;
    transition: opacity 0.3s, background-color 0.3s;
}
.header__nav a:hover::after {
    opacity: 1;
}
.header__nav a:active::after {
    background-color: #9e2019;
}

.search {
    grid-area: search;
    transition: 0.3s;
}
.search:hover svg {
    fill: #da362d;
}
.search:active svg {
    fill: #9e2019;
}

/* ---------------main */
.main {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
    grid-template-rows: 3fr 1fr 3fr;
    grid-template-areas:
        "slider-arrows about red section-hover"
        "slider-arrows about slider-dots section-hover"
        "green about slider-dots blue";
}

/* --------------- slider-arrows */
.slider-arrows {
    grid-area: slider-arrows;
    position: relative;
}
.slider-arrows__items-wrapper {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    display: flex;
}
.slider-arrows__nav {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.slider-arrows__arrow {
    color: #ffffff;
    font-size: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all 0.3s;
}
.btn {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
    padding: 10px 15px;
    transition: all 0.3s;
}
.slider-arrows__arrow:hover,
.btn:hover {
    color: #9e2019;
    border: 2px solid #9e2019;
}
.slider-arrows__arrow:active,
.btn:active {
    opacity: 0.7;
}
/* ----------------about */
.about {
    grid-area: about;
    background-color: rgb(245, 220, 78);
}

/* -------- green description */
.green-description {
    grid-area: green;
    background-color: rgb(124, 191, 23);
}
.green-description__title,
.red-description__title,
.blue-description__title,
.about h2 {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}
.green-description p,
.red-description p,
.blue-description p,
.about p {
    font-size: 18px;
}

/* ------------------ red description */
.red-description {
    grid-area: red;
    background-color: #9b1800;
    color: #ffffff;
}

/* --------- blue description */
.blue-description {
    grid-area: blue;
    background-color: blue;
    color: #ffffff;
}

/* -------slider-dots */

.slider-dots {
    grid-area: slider-dots;
    position: relative;
}

.slider-dots__btn-wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-dots__items-wrapper {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    display: flex;
}
.slider-dots__nav {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.slider-dots__nav-item {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.slider-dots__nav-item:hover {
    background-color: #9e2019;
    border: 2px solid #9e2019;
}
.slider-dots__nav-item:active {
    opacity: 0.8;
}
.slider-dots__nav-item--active {
    background-color: transparent;
    border: 1px solid #ffffff;
}

/* ----------section - hover */
.section-hover {
    grid-area: section-hover;
}

.hover-menu {
    position: relative;
    overflow: hidden;
    min-width: 340px;
    max-width: 480px;
    max-height: 595px;
    width: 100%;
    background: #000;
    text-align: center;
    box-sizing: border-box;
}

.hover-menu * {
    box-sizing: border-box;
}

.hover-menu img {
    position: relative;
    max-width: 100%;
    top: 0;
    right: 0;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.hover-menu div {
    position: absolute;
    top: 0;
    left: -120px;
    width: 120px;
    height: 100%;
    padding: 8px 4px;
    background: #000;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hover-menu div a {
    display: block;
    line-height: 2;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.hover-menu div a:hover {
    color: #9e2019;
}

.hover-menu:hover img {
    opacity: 0.5;
    right: -120px;
}

.hover-menu:hover div {
    left: 0;
    opacity: 1;
}
